/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #D4EBF8;
}

/* Estilo do cabeçalho */
header {
    background-color: #1F509A;
    color: white;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ecf0f1;
    text-transform: uppercase;
    text-decoration: none;
}

.logo:hover {
    color: #E38E49;
}

/* Barra de navegação */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Links do menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #E38E49;
    transform: translateY(-2px); /* Efeito de elevação */
}

nav ul li a:focus, nav ul li a:active {
    outline: none;
    background-color: #E38E49;
}

/* Ícones de carrinho e login */
.icon {
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
}

/* Links de autenticação */
.auth-links a {
    margin-left: 15px;
    color: white; /* Deixa o texto branco */
    text-decoration: none; /* Remove o sublinhado */
}

/* Remove o sublinhado ao passar o mouse */
.auth-links a:hover {
    text-decoration: none;
    background-color: transparent;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .logo {
        font-size: 20px;
    }
}