@charset "UTF-8";

header{
    position: fixed;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D4EBF8;
}

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #0A3981;
}

a {
    text-decoration: none;
    color: #1F509A;
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1F509A;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.cta-btn:hover {
    background-color: #0056b3;
}

/* Hero Section */
.hero {
    background: #1F509A;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content{
    padding-top: 50px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
}

.hero .cta-btn {
    font-size: 1.1rem;
}

/* Categorias */
.categories {
    padding: 40px 20px;
    text-align: center;
}

.categories h2 {
    margin-bottom: 20px;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.category-item {
    width: 200px;
}

.category-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.category-item h3 {
    margin-top: 10px;
    font-size: 1.1rem;
}

/* Ofertas Especiais */
.special-offers {
    background-color: #D4EBF8;
    padding: 40px 20px;
    text-align: center;
}

.offer-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.offer-item {
    width: 300px;
}

.offer-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Produtos em Destaque */
.featured-products {
    padding: 40px 20px;
    text-align: center;
}

.featured-products h2 {
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.product-item {
    width: 200px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item h3 {
    margin-top: 10px;
    font-size: 1.1rem;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #D4EBF8;
    text-align: center;
    padding: 10px 0;
}
