<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="/assets/styles/profile.css">
</head>
<body>

<!-- Substitui o cabeçalho usando o fragmento -->
<div th:replace="~{fragments/header.html}"></div>

<!-- Conteúdo da página -->
<div class="container">
    <h1>Perfil do Usuário</h1>

    <div class="profile-details">
        <p><strong>Nome:</strong> <span th:text="${person.name}"></span></p>
        <p><strong>Email:</strong> <span th:text="${person.email}"></span></p>
        <p><strong>Função:</strong> <span th:text="${person.role.name}"></span></p>
    </div>

    <div class="profile-actions">
        <a href="/person/update/register" class="btn">Editar Perfil</a>
    </div>
</div>

</body>
</html>
